<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top" align="center">
  <div class="container">
    <span class="titleName">Work Schedule</span>
  </div>
</nav>
